.big_title {
    font-family: 'Yomogi';
    font-size: 64px;
    margin-bottom: -20px;
}

.decoline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

@media (max-width: 400px) {
    .big_title {
        font-size: 64px;
        display: flex;
        margin-left: 5%;
    }

    .decoline {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 4px;
    }
}