.big_title {
    font-size: 84px;
    margin-bottom: -20px;
}

.decoline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

@media (max-width: 400px) {
   .big_title {
       font-size: 64px;
       display: flex;
       margin-left: 5%;
   }

   .decoline {
       font-family: Arial, Helvetica, sans-serif;
       font-size: 4px;
   }
}

@media (max-width: 400px) {
   .icon {
   display: flex;
   flex-direction: column;
   margin-right: -8px;
   }
   .menu_item {
      display: flex;
      justify-content: flex-start;
   }
   .cart {
      display: flex;
   }
   .container {
      margin-right: -8px;
   }

}

.icon {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content:space-between;

}

 .container {
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
 }
 
 .goods{
    background-color: #B1B1B1;
    padding: 2%;
    margin-bottom: 5%;
}

.top {
    display: flex;
    flex-direction: row;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

@media (max-width: 400px) {
   .images {
    display: flex;
    flex-direction: column;
   }
   .image_big {
      width: 100% !important;
   }
   .info {
      width: 100% !important;
   }
}

.image_big {
    width: 50%;
 }

 .info {
    width: 47%;
 }

 .title {
    font-family: 'Yomogi';
    color: #444444;
    font-size: 40px;
 }

 .seller {
    font-family: 'Yomogi';
    color: #727272;
    font-size: 32px;
 }

 .category {
    font-family: 'Alumni Sans';
    font-size: 24px;
    color: #B1B1B1;
    background-color: #444444;
    padding:0 5% ;
 }

 .price {
   font-family: 'Yomogi';
   color: #444444;
   font-size: 32px;
 }

 .status {
   font-family: 'Yomogi';
   color: #444444;
   font-size: 24px;
 }

 .btn {
   height: auto;
   font-size: 1.2rem;
   font-weight: 300;
   margin-top: 1rem;
   background-color: #444444;
   font-family: 'Yomogi';
   color: #B1B1B1;
 }

 .qty{
   font-family: 'Yomogi';
   color: #444444;
   font-size: 24px;
   margin-bottom: 16px;
 }

 .tatol {
   font-family: 'Yomogi';
   color: #444444;
   font-size: 24px;
 }
 
 
