.cartSummary {
   width: 400px;
}

.count {
    display: flex;
    height: 50px;
    border: solid #B1B1B1 1px;
    justify-content:flex-end;
 }

 .count_text {
    font-family: 'Yomogi';
    color: #B1B1B1;
    font-size: 1rem;
    padding-right: 20%;
    padding-top: 10px;
 }

 .count_icon {
    height: 49px;
    width: 50px;
    background-color: #B1B1B1;
    border: transparent;
 }

 .count_cart {
    background-color: #B1B1B1;
 }